DATABASE_URL=postgresql://neondb_owner:npg_iwMe3XL8JQUg@ep-broad-tree-auqiqj8i-pooler.c-10.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
AUTH_SECRET=https://ep-broad-tree-auqiqj8i.neonauth.c-10.us-east-1.aws.neon.tech/neondb/auth
